*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
  background-color:url("../images/entardecer.jpg") center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.lado_esquerdo{
    float: left;
}
img.lado_direito{
    float: right;
}
main{
    background-color:url("../images/entardecer.JPG") center center no-repeat fixed;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(53, 48, 48);
}